<!--
  Generated template for the ProgramsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PROGRAMME</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="home center">
    <br>
    <div class="modaltitle">Programm Kits</div>
    <div class="modaldesc">Unsere beliebtesten Routinen</div>

    <ion-scroll scrollX="true" scrollY="false" class="wide-as-needed programs">

            <ion-row nowrap class="program {{ basicButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('basic')">
                <div class="programpic"><img src="assets/img/Basic.png"></div>
                <div class="programdesc">BASIC <br> <br></div>
            </ion-row>

            <ion-row nowrap class="program {{ businessTravelButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('business and travel')">
                <div class="programpic"><img src="assets/img/BusinessTraveller.png"></div>
                <div class="programdesc">BUSINESS &<br/>REISEN</div>
            </ion-row>

           <ion-row nowrap class="program {{ familiyButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('family')">
                <div class="programpic"><img src="assets/img/family.png"></div>
                <div class="programdesc">FAMILIE</div>
            </ion-row>

            <ion-row nowrap class="program {{ athleteButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('athlete')">
                <div class="programpic"><img src="assets/img/Athlete.png"></div>
                <div class="programdesc">SPORT</div>
            </ion-row>

            <ion-row nowrap class="program {{ spaButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('spa')">
                <div class="programpic"><img src="assets/img/Spa.png"></div>
                <div class="programdesc">SPA & WELLNESS</div>
            </ion-row>


            <ion-row nowrap class="program {{ stressButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('stress relief')">
                <div class="programpic"><img src="assets/img/stress.png"></div>
                <div class="programdesc">STRESS <br> BEFREIUNG</div>
            </ion-row>


            <ion-row nowrap class="program {{ seniorButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('senior')">
                <div class="programpic"><img src="assets/img/Senior.png"></div>
                <div class="programdesc">SENIOR</div>
            </ion-row>


            <ion-row nowrap class="program {{ chakraButton ? '' : 'opacity-50' }}"  (click)="selectPreSetProgram('chakra balancing')">
                <div class="programpic"><img src="assets/img/chakra.png"></div>
                <div class="programdesc">CHAKRAS</div>
            </ion-row>

            <ion-row nowrap class="program {{ elementsButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('elements')">
                <div class="programpic"><img src="assets/img/Elements.png"></div>
                <div class="programdesc">ELEMENTE & <br> MERIDIANE</div>
            </ion-row>
            <ion-row nowrap class="program {{ petssButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('petss')">
                <div class="programpic"><img src="assets/img/MascotasS.png"></div>
                <div class="programdesc">HAUSTIERE S</div>
            </ion-row>

            <ion-row nowrap class="program {{ petsxButton ? '' : 'opacity-50' }}" (click)="selectPreSetProgram('petsx')">
                <div class="programpic"><img src="assets/img/MascotasX.png"></div>
                <div class="programdesc">HAUSTIERE X</div>
            </ion-row>
    </ion-scroll>


    <div class="modaltitle">PROGRAMME</div>
    <div *ngFor="let routine of predefinedPrograms">

        {{ routine.textName }}
        <!--<div class="purchase-status">{{ routine.purchaseStatus }}</div>-->

        <div class="paddingmodal">

            <ion-list (click)="addPrograms(routine.name, routine.programs[0].apiName, routine.programs[1].apiName,
                routine.programs[2].apiName,routine.programs[3].apiName)">

                <ion-item *ngFor="let program of routine.programs" class="addiction center">
                     {{ program.textName }}
                </ion-item>

            </ion-list>
        </div>
    </div>


    <div class="modaltitle">UNABHÄNGIGE PROGRAMME</div>
    <div class="modaldesc"><label>Tippen Sie auf das Programm, das Sie zur Routine hinzufügen möchten. Tippen die Info-Taste, um mehr zu erfahren</label></div>
    <div class="paddingmodal">
        <ion-list class="programlist">

            <ion-item class="addiction center" *ngFor="let program of programs" nav-transition="ios" nav-direction="forward" href="#/app/routines">
                <div class="programAddButton" (click)="add1Program(program.name, program.runningtime, program.apiName)">
                    {{ program.textName }}
                </div>
                <div class="programInfoButton" end (click)="moreProgramInfo(program.name, program.runningtime, program.description, program.apiName)">
                    <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
                </div>
            </ion-item>

        </ion-list>
    </div>
</ion-content>
